.sidebar{
    width: 100%;
    /* height: var(--header-height); */
    background-color: black;
}
.header-sidebar{
    display: flex;
    justify-content: space-between;
}

.sidebar-list{
    display: flex;
    justify-content: space-around;
}

.dropdown{
    color: #F2D265;
}

.link-dashboard{
    color: #F2D265;
}

.sidebar-list li a{
    color: var();
    font-size: 1.3rem;
}