
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #F2D265; /* Màu nền */
}
.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Kích thước logo */
  height: auto;
  margin-right: 10px;
}

.company-name {
  font-size: 24px;
  color: rgb(65, 117, 5); /* Màu chữ của tên công ty */
}


/* Tổng quan cấu trúc */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 10px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto; /* Căn giữa container */
  display: flex;
  justify-content: space-between; /* Phân bố đều các thành phần */
  align-items: center;
  padding: 0 20px; /* Thêm khoảng cách giữa container và viền */
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo-image img {
  height: 85px;
}

.logo-name a {
  color: #f2d265;
  font-size: 20px;
  text-decoration: none;
}
.search-form {
  flex-grow: 2; /* Cho phép thanh tìm kiếm mở rộng */
  display: flex;
  justify-content: center;
}

.search-form input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: 100%;
  max-width: 400px;
}

/* Header Right: Login, Shop */
.header-right {
  display: flex;
  align-items: center;
  gap: 60px;
}

.login {
>>>>>>> 684ae1c3a9bb72e5f9a4ffacb5bfd9ea3099f599
  display: flex;
  gap: 20px;
}

<<<<<<< HEAD
.nav a {
  text-decoration: none;
  color: #000; /* Màu của link */
  font-size: 18px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar {
  padding: 5px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
}

.login-link,
.shop-link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.login a {
  color: #f2d265;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.login a:hover {
  color: #ffffff;
}

/* Shop button */
.shopping button {
  background-color: #f2d265;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;

  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.shopping button i {
  margin-left: 10px;
}

.shopping button:hover {
  background-color: white;
}

/* Navigation */
.nav {
  background-color: #f2d265;
}

.nav-container {
  max-width: 0 auto;
  margin: 0 auto; /* Căn giữa navigation */
  text-align: center;
  padding: 0 20px; /* Thêm khoảng cách hai bên */
}

.nav-item {
  display: flex;
  justify-content: center;
  gap: 40px; /* Điều chỉnh khoảng cách giữa các mục */
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-item a:hover {
  color: #ffffff;

}
