/* Đảm bảo container chính chiếm hết chiều cao có sẵn, tránh việc footer chồng lấn */
.container-fluid {
  display: flex;
  justify-content: space-between; /* Dàn hàng ngang với khoảng cách đều */
  padding: 2rem;
  max-width: 1200px; /* Chiều rộng tối đa */
  margin: auto; /* Căn giữa */
  background-color: #fff; /* Màu nền cho hộp sản phẩm */
  border-radius: 10px; /* Bo góc cho hộp sản phẩm */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng cho hộp sản phẩm */
}

.slider-box {
  flex: 1; /* Chiếm không gian bằng nhau */
  margin-right: 2rem; /* Khoảng cách giữa slider và chi tiết sản phẩm */
}

.slider-box img {
  width: 70%; /* Chiều rộng tối đa cho hình ảnh, giảm kích thước */
  border-radius: 10px; /* Bo góc cho hình ảnh */
  display: block; /* Đảm bảo hình ảnh không có khoảng trắng */
  margin: auto; /* Căn giữa hình ảnh */
  border: 5px solid rgba(0, 0, 0, 0.5); /* Viền đen mờ cho hình ảnh */
}

.pro-detail {
  flex: 1; /* Chiếm không gian bằng nhau */
  display: flex;
  flex-direction: column; /* Dàn thành cột */
  justify-content: space-between; /* Căn đều khoảng cách giữa các phần tử */
  height: 100%; /* Đảm bảo chiều cao đầy đủ */
  gap: 0.5rem; /* Khoảng cách giữa các phần tử */
}

.pro-detail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pro-detail p {
  margin: 0; /* Không có khoảng cách giữa đoạn văn */
}

.price {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  gap: 0.5rem; /* Khoảng cách giữa các phần tử */
}

.price h5 {
  font-size: 1.5rem; /* Kích thước giá */
  color: #333; /* Màu chữ cho giá */
}

.price span {
  color: #888; /* Màu chữ cho giá khuyến mãi */
  text-decoration: line-through; /* Gạch ngang cho giá khuyến mãi */
}

.btshop button {
  padding: 0.75rem; /* Padding cho nút */
  border: none; /* Không có đường viền */
  border-radius: 5px; /* Bo góc cho nút */
  background-color: #f2d265; /* Màu nền cho nút */
  color: #fff; /* Màu chữ cho nút */
  font-size: 1rem; /* Kích thước chữ cho nút */
  cursor: pointer; /* Con trỏ chuột */
  margin-top: 220px; /* Khoảng cách trên cho nút */
}
