

.sidebar {
    width: 25%;
    background: #fff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 75%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 15px;
    color: #F2D265;
}

/* Bố cục hàng sản phẩm */
.product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product {
    flex: 1 1 calc(25% - 10px);
    margin: 0 5px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    transition: box-shadow 0.3s;
}

/* Hình ảnh sản phẩm */
.product img {
    max-width: 100%;
    border-radius: 4px;
}

.product:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border: 1px solid #F2D265;
    outline: none;
}
