.contact-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  transition: box-shadow 0.3s ease;
  margin-top: 30px;
}

.contact-container:hover {
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.contact-description {
  margin-bottom: 20px;
  color: #666;
  font-size: 16px;
}

.contact-form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-form-label {
  flex: 0 0 150px; /* Fixed width for label */
  margin-right: 15px; /* Space between label and input */
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.contact-form-input,
.contact-form-textarea {
  flex: 1; /* Occupy remaining space */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.contact-form-input:focus,
.contact-form-textarea:focus {
  border-color: #4caf50; /* Change border color on focus */
  outline: none;
}

.contact-submit-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: block; /* Make button block to center */
  width: 100px; /* Fixed width for button */
  margin-left: auto; /* Center align */
  margin-right: auto; /* Center align */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.contact-submit-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.contact-info {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.contact-info-title {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.contact-bold {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-info-details {
  color: #666;
  font-size: 14px;
}

.required {
  color: red; /* Red color for required asterisk */
}
