/* Footer Styles */
.footer {
  background-color: #f2d265;
  padding: 20px;
  color: black;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1500px;
}

.contact-info-footer,
.payment-info-footer,
.map {
  flex: 1;
  padding: 20px;
  margin: 10px;
}

h3 {
  margin-bottom: 10px;
  color: black;
  font-size: 18px;
}

.contact-info-footer p,
.contact-info-footer a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.contact-info-footer a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  margin-right: 20px;
  margin-left: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.payment-info-footer img {
  width: 150px;
  border-radius: 10px;
}

.map iframe {
  width: 100%;
  height: 280px;
  border: 0;
  border-radius: 10px;
}

.footer-1 {
  background-color: black;
  /* padding: 10px 0;
  color: white;
  font-size: 14px;
  width: 100%; /* Đảm bảo footer-1 chiếm toàn bộ chiều rộng */
}
.container-footer-1 {
  max-width: 0 auto;
  margin: 0 auto; /* Căn giữa navigation */
  text-align: center;
  padding: 0 20px; /* Thêm khoảng cách hai bên */
}
